.container_12 {
  background-color: grey;
}
nav {
  background-color: orange;
}
nav li {
  display: inline;
  margin-left: 0px;
  margin-right: 30px;
}
.primary {
  background-color: burlywood;
}
aside {
  background-color: aqua;
}
header {
  background-color: yellow;
}
.main {
  margin-top: 20px;
}